* {
    box-sizing: border-box;
    text-align: center;
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin: auto;
    padding: auto;
    

}
.container {
    width: 950px;
    margin: 0 auto;
}


header, nav, section, aside, footer{
    background: #ebebeb;
    margin: 0 auto;

}
.header{
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    

}

.nav {
margin-top: 20px;
border: 50px;
text-align: center;
padding: 40px;
margin-left: auto;
padding-bottom: 10px;



}

article {
    color: #ebebeb;
    background: #777;
    float: left;



}
.section{
    

}

h1, p {
    color: #777;
    background: #ebebeb;
    
}
aside {
    float: right;
    margin: 50px;
    height: 200px;
    width: 50%;
    margin: 5px auto;
    padding: 50px;
    overflow: hidden;

    
}
.headings {
width: 550%;
text-align: center;

}

.clearfix::after{
    content: "";
    display: block;
    clear: both;

}

footer {
    height: 50px;
}
p {
width: 550%;

}
h1.section{
    width: 50%;
    float: left;
    
    height: 22px;
    padding-right: 15px;
}